.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.heading{
    align-self: center;
}
.fav-button-container{
    align-self: flex-end;
}
.ul-container{
    list-style-type: numeric;
}

/* favorite page styles */

.favorites-heading{
    text-align: center;
    font-size: 32px;
    font-family: sans-serif,Verdana, Geneva, Tahoma;
    color: rgba(12, 133, 232, 0.721);
}
.ul-container{
    display: flex;
    flex-direction: column;
}
.link-tag{
    font-weight: 500;
    color: black;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;     

}
.favorites-container{
    width: 50%;
    padding: 10px;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    padding: 30px;
    border-radius: 10px;
}
.fav-bg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.button{
    background-color: rgba(12, 133, 232, 0.721);
    border: none;
    border-radius: 8px;
    height: 30px;
    color: #ffffff;
}